#playback-progressbar {
	height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#playback-artist {
	font-size: 90%;
	font-weight: bold;
	font-family: "Arial";
}

#playback-song {
	font-size: 90%;
	font-family: "Arial";
}
