#playback-progressbar {
	height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.ui-corner-all { 
	border-radius: 0px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-bottomleft: 0px; 
	-moz-border-radius-topright: 0px; 
	-moz-border-radius-topleft: 0px;
}*/
